@import "tailwindcss";
@import "tw-animate-css";


@theme {
  /* Gray */
  --color-gray-50: #eeeeee;
  --color-gray-100: #d0d0d0;
  --color-gray-200: #cccccc;
  --color-gray-300: #b0b0b0;
  --color-gray-400: #aaaaaa;
  --color-gray-600: #727373;
  --color-gray-650: #4a4a4a;
  --color-gray-700: #313131;
  --color-gray-800: #101010;

  /* Green */
  --color-green-100: #dffae8;
  --color-green-200: #c5f1d0;
  --color-green-300: #aef0d1;
  --color-green-500: #00b886;
  --color-green-600: #009873;
  --color-green-800: #0c7666;

  /* Blue */
  --color-blue-100: #d0f9ff;
  --color-blue-500: #209df0;
  --color-blue-600: #337aff;

  /* Gradient */
  --color-gradient-100: linear-gradient(to right, #e3f2fd, #e5f9f8);
  --color-gradient-500: linear-gradient(to right, #17a7d7, #00bcf0);
  --color-gradient-600: linear-gradient(to right, #00c36b, #00b0dc);
}
